<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Computer Science Research Aggregator</title>
</head>

<body>
    <header><h1 class="title">Computer Science Research Aggregator</h1></header>
    <p class="caption">Select a topic below to fetch the 10 latest matching research papers from <a href="https://arxiv.org" style="color: #0000EE;">arXiv.org</a></p>

    <!-- on form submission, send a POST request with the computer science topic to the /result Flask route -->
    <form action="/result" method="POST">
        <div class="container">

            <!-- create buttons from the passed Python dictionary of topic keys and values -->
            <div class="buttonGroup">
                <p class="topicTitle"><b>Topics:</b></p>
                <div class="desktopButtons">
                    {% for key, value in topic_buttons.items() %}
                        <button name="topic" value="{{ value }}">{{ key }}</button>
                    {% endfor %}
                </div>

                <div class="mobileButtons">
                    <select class="selectButton" name="topic">
                        <option selected disabled hidden>Choose a topic</option>
                        {% for key, value in topic_buttons.items() %}
                            <option name="topic" value="{{ value }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                    <input class="submitButton" type="submit" value="Submit">
                </div>

            </div>
        </div>
    </form>

</body>
</html>
