body {
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

h1 {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}

h2 {
	font-size: 1.2rem !important;
	font-weight: 300 !important;
}

/* text for loading, invalid topic ID and empty search query */
.info-h1 {
	text-align: center;
	margin-top: 0.5em;
}

/* home and 404 not found */
.home, .not-found {
	text-align: center;
}

.home h1, .not-found h1 {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.home p {
	margin: 0;
}

/* navbar */
.navbar {
	background-color: #444444;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.navbar-title {
	color: white !important;
	margin-right: 0.3em !important;
}

.navbar-title:hover {
	text-decoration: underline;
}

.navbar-form {
	display: flex;
	align-items: center;
	margin-left: 0.5em;
}

.navbar-search-bar {
	font-size: 0.95em !important;
	height: 1.95em !important;
	border: 2px solid white !important;
	box-shadow: none !important;
	outline: none !important;
	padding-left: 0.5em !important;
}

.navbar-search-button {
	text-align: center !important;
	font-size: 0.95em !important; 
	height: 1.95em !important;
	background-color: #444444 !important;
	border: 2px solid white !important;
	margin-right: 0 !important;
	margin-left: 0.7em;
	padding-top: 0em !important;
	padding-bottom: 0em !important;
}

.navbar-menu {
	color: white !important;
	box-shadow: none !important;
	border: none !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* navigation buttons */
.navigation-container {
	width: 100%;
}

.navigation-container h1 {
	text-align: center;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navigation-buttons {
	width: 20%;
	float: left;
	margin-left: 2%;
}

.navigation-buttons button {
	text-align: left;
	font-size: 0.87em;
	border: none;
    width: 100%;
}

.navigation-mobile-buttons {
	font-size: 0.87em;
	display: none;
    width: 100%;
    margin-bottom: 0.5em;
}

/* research data */
.research-data {
    width: 74%;
    float: left;
    margin-left: 2%;
}

.research-data h1 {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.research-data p {
	font-size:0.95em;
	margin: 0;
}

table {
	width: 100%;
	margin-top: 0.75em;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(6n+2) {
    background-color: #eee;
}

tr:nth-child(6n+5) {
    background-color: white;
}

.research-title-col {
	width: 100%;
	padding-top: 0.45em;
}

.research-paper-title {
	color: black;
	text-decoration: underline;
	box-decoration-break: clone;
	padding-right: 0.9em;
	padding-left: 0.9em;
}

.research-paper-title:hover {
	color: black;
}

.research-bookmark-col {
	vertical-align: top;
	width: 0%;
	padding-top: 0.9em;
	padding-right: 0.9em;
	padding-left: 0.9em;
}

.research-bookmark-col h3 {
	font-size: 1em;
	font-weight: normal;
	color: black;
	text-decoration: underline;
}

.research-author-col {
    padding: 0.9em;
    padding-top: 0;
}

.research-author-col span, .research-author-col p {
	font-size: 0.95em;
}

.research-hidden-col {
	width: 100%;
}

.research-paper-abstract {
	box-decoration-break: clone;
	padding-right: 0.9em;
	padding-left: 0.9em;
}

.research-paper-topic {
	padding-top: 0.9em;
	padding-left: 0.9em;
}

.research-paper-source {
	padding-bottom: 0.9em;
	padding-left: 0.9em;
}

@media screen and (max-width: 850px) {
	.navigation-buttons {
	    width: 100%;
	    margin-left: 0;
	}

	.navigation-desktop-buttons {
	    display: none;
	}

	.navigation-mobile-buttons {
	    display: flex;
	    justify-content: center;
	}

	.research-data {
	    width: 100%;
	    margin: 0;
	}

	.research-data h1 {
		margin-left: 0.7em;
	}

	.navbar-search-bar {
		width: 12em !important;
	}
}